/* i want to make the elements side by side  */
.container {
  display: flex;
  gap: 20px;
  min-height: 100vh;

  flex: 0 1 auto;
}

/* adding background on the page */
body {
  background: linear-gradient(to top right, #67e4d7, #14dec9);
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.week-1,
.week-2,
.about-me {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  flex: 1;
}

p {
  line-height: 25px;
  font-size: 20px;
  font-style: italic;
}

.html-logo,
.sql-logo,
.js-logo {
  display: inline-block;

  height: 120px;
  width: 120px;
  align-items: center;
  margin-left: 30px;
  border-radius: 35px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
