/* i want to make the elements side by side  */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  min-height: 100vh;
}

/* adding background on the page */
body {
  background: linear-gradient(to top right, #67e4d7, #14dec9);
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.week-1,
.week-2,
.about-me {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  line-height: 25px;
  font-size: 20px;
  font-style: italic;
}

.images {
  display: flex;
  margin-left: 50px;
  gap: 50px;
}

.html-logo,
.sql-logo,
.js-logo {
  height: 120px;
  width: 120px;
  align-items: center;
  margin-left: 50px;
  border-radius: 35px;
  transition: width 0.2s ease-in-out;
}

.js-logo:hover {
  width: 200px;
}

.html-logo:hover,
.sql-logo:hover {
  width: 200px;
}
.week-div1,
.week-div2,
.aboutMe {
  border: 3px solid #0395d8;
  border-radius: 10px;
  /* transition: width 0.2s ease-in-out; */
}
/* .week-div1:hover,
.week-div2:hover,
.aboutMe:hover {
  width: 700px;
} */
